@using OrderManagementSystem.Controllers
@model Dictionary<OrderTypeEnum, List<OrderManagementSystem.Models.Order.OrderForm>>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_RestaurantWorkerLayout.cshtml";
}

<h2>Orders</h2>

<div id="actualOrders">
    <fieldset>
        <legend>Orders that you support</legend>
    </fieldset>

@if (!Model.Single(x => x.Key == OrderTypeEnum.InProgress).Value.Any())
{
    <div class="alert-info alert">You do not currently have any orders.</div>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Status of the order</th>
                <th>Customer</th>
                <th>Table number</th>
                <th>Quantity of elements</th>
                <th>Price</th>
                <th>Rating</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Where(x => x.Key == OrderTypeEnum.InProgress).Select(x => x.Value).Single())
            {
                Html.RenderPartial("_OrderListItem", order);
            }
        </tbody>
    </table>
}
</div>

<div id="newOrders">
    <fieldset>
        <legend>New orders</legend>
    </fieldset>

    @if (!Model.Single(x => x.Key == OrderTypeEnum.New).Value.Any())
    {
        <div class="alert-info alert">No new orders.</div>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Status of the order</th>
                    <th>Customer</th>
                    <th>Table number</th>
                    <th>Quantity of elements</th>
                    <th>Sum</th>
                    <th>Rating</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Where(x => x.Key == OrderTypeEnum.New).Select(x => x.Value).Single())
                {
                    Html.RenderPartial("_OrderListItem", order);
                }
            </tbody>
        </table>
    }

</div>

<script type="text/javascript" src="~/Scripts/Application/RestaurantWorkerController.js"></script>
<script type="text/javascript">
    $(function () {
        var ctrl = new RestaurantWorkerController();
        ctrl.init();
    });
</script>